<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Train Occupancy Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="IOT Hackathon Team">

    <script src="bower_components/jquery/dist/jquery.js"></script>
  	<script src="bower_components/angular/angular.js"></script>
  	<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-socket-io/socket.js"></script>
  	<script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
  	<script src="js/module.js"></script>
  	<script src="js/module.states.js"></script>
    <script src="js/home.controller.js"></script>
  	<script src="js/dash.controller.js"></script>
    <script src="js/home.service.js"></script>
  	<script src="js/dash.service.js"></script>
    
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/socket.io-client/socket.io.js"></script>

    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body ng-app="bartApp">
  <nav>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a ui-sref="home">Home</a></li>
      <li role="presentation"><a ui-sref="dash">Dashboard</a></li>
      <!-- <li role="presentation"><a href="#">Messages</a></li> -->
    </ul>
    </nav>
    <ui-view></ui-view>
  </body>
</html>
